services:
  app:
    build: .
    command: node dist/main.js
    volumes:
      - ./data:/app/data
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: discord_data
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d discord_data"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data: